<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>theysa.id - Authenticate</title>
    <link rel="stylesheet"  type="text/css" href="assets/styles/style.css">
</head>

<body class="theysa-flex-col">
    <header>
        <h1 class="theysa-shadow"> {{ page_title }} </h1>
    </header>
    <nav class="theysa-box theysa-flex-row theysa-navbar theysa-shadow grows">
        <a class="theysa-button theysa-shadow grows" href="index.html">Home</a>
        <a class="theysa-button theysa-shadow grows theysa-set-cur-dom">Authenticate</a>
        <a class="theysa-button theysa-shadow grows">About</a>
    </nav>
    <div class="theysa-flex-row">
        <div class="theysa-flex-col theysa-box theysa-shadow grows">
            <h3 class="theysa-shadow">Sign in</h3>
            <h5 class="theysa-shadow" hidden id="failed-sing-in">Sign in failed</h5>
            <form action="#" class="theysa-flex-col" id="sign-in-form">
                <input
                        class="theysa-shadow grows"
                        id="sign-in-email"
                        name="email"
                        placeholder="e-mail"
                        required
                        type="email"
                /><br/>
                <input
                        class="theysa-shadow grows"
                        id="sign-in-pass"
                        name="pass"
                        placeholder="password"
                        required
                        type="password"
                /><br/>
                <input class="theysa-button theysa-shadow theysa-grows" type="submit" value="SIGN IN"/>
            </form>
        </div>
    
        <div class="theysa-flex-col theysa-box theysa-shadow grows">
            <h3 class="theysa-shadow">Sign up</h3>
            <h5 class="theysa-shadow" hidden id="failed-sing-up">Sign up failed</h5>
            <form action="#" class="theysa-flex-col" id="sign-up-form">
                <input
                        class="theysa-shadow grows"
                        id="sign-up-email"
                        name="email"
                        placeholder="e-mail"
                        required
                        type="email"
                /><br/>
                <input
                        class="theysa-shadow grows"
                        id="sign-up-uname"
                        name="uname"
                        placeholder="username"
                        required
                        type="text"
                /><br/>
                <input
                        class="theysa-shadow grows"
                        id="sign-up-pass"
                        name="pass"
                        placeholder="password"
                        required
                        type="password"
                /><br/>
                <input
                        class="theysa-shadow grows"
                        id="sign-up-confpass"
                        name="pass-confirm"
                        placeholder="confirm password"
                        required
                        type="password"
                /><br/>
                <input class="theysa-button theysa-shadow grows" type="submit" value="SIGN UP"/>
            </form>
        </div>
    </div>

    <footer class="theysa-flex-row theysa-footer">
        <a id="copyright" class="text-center">&copy; 2022 - theysa.id {{ name }}</a>
    </footer>

</body>
</html>
