<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>theysa.id</title>
    <link rel="stylesheet" type="text/css" href="/legacy/assets/styles/style.css">
</head>
<body class="theysa-flex-col">
    <h1 class="theysa-shadow">theysa.id</h1>
    <nav class="theysa-box theysa-flex-row theysa-navbar theysa-shadow grows">
        <a href="#" class="theysa-set-cur-dom">Home</a>
        <a href="#">Authenticate</a>
        <a href="#">About</a>
    </nav>

    {% block content %}{% endblock %}

    <footer class="theysa-flex-row theysa-footer">
        <a id="copyright" class="text-center">&copy; {{ c_year }} - theysa.id</a>
    </footer>
</body>
</html>
