@import "colours.css";

html {
    color: var(--text-color);
}

body {
    
    max-width: 100%;
    margin: auto;
    background-color: var(--subtle-color);
    font-size: 20px;
}

* {
    box-shadow: none;
    transition: ease-in-out 250ms;
}

/* === ANIMATIONS === */

.grows:hover {
    /* === GROW ON HOVER === */
    transform: scale(1.1);
}

.grows .grows:hover {
    /* === GROW ON HOVER === */
    transform: scale(1.05);
}

/* === THEYSA- CLASSES === */

.theysa-box {
    padding: 20px;
    margin: 15px;
}

.theysa-button {
    font-weight: bold;
    color: var(--text-soft-color);
    border-color: var(--border-color);
    background-color: var(--mark-color);
}

.theysa-flex-col {
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.theysa-flex-row {
    justify-content: center;
    align-items: start;
    flex-direction: row;
    flex-wrap: wrap;
}

.theysa-flex-col, .theysa-flex-row {
    display: flex;
    flex-wrap: wrap;
}

.theysa-footer {
    margin-top: 10px;
}

.theysa-navbar {
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    place-content: center;
}

.theysa-navbar, a {
    color: var(--text-color);
    text-decoration: none;
    margin: 5px;
    text-align: center;
}

.theysa-set-cur-dom {
    color: var(--special-bg-color);
}

.theysa-button .theysa-set-cur-dom {
    color: var(--special-text-color);
    background-color: var(--special-bg-color);
    border: 1px solid var(--special-bg-color);
}

.theysa-set-cur-dom .grows:hover {
    /* === GROW ON HOVER === */
    transform: scale(1);
}

.theysa-shadow {
    --shadow-placement: 6px 6px 0 0;
    box-shadow: var(--shadow-placement) rgba(var(--shadow-color-rgb), 0.5);
}

.theysa-shadow .theysa-shadow {
    --shadow-placement: 3px 3px 0 0;
}

.theysa-card {
    margin-right:15px; 
    border-color: var(--border-color);
    max-width: 20vw; 
    max-height: 20vw;
    min-width: 10vw;
    min-height: 10vw;
    flex-wrap: wrap;
}

/* === TEXT FORMATTING === */
.text-center {
    text-align: center;
}

/* === VARIOUS === */

p, label {
    color: var(--text-color);
}

input, .theysa-button {
    text-align: center;
    align-content: center;
    color: var(--text-soft-color);
}

input {
    width: 20ch;
}

h1, h2, h3, h5, h6 {
    text-align: center;
    font-weight: bold;
    color: var(--special-text-color);
    background-color: var(--special-bg-color);
}

h1, h2, h3, h5, h6 {
    padding: 10px;
    margin: 15px;
    border-width: 0;
    border-style: solid;
    border-radius: 5px;
}

input, .theysa-box, .theysa-button {
    background-color: var(--bg-color);
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

input, .theysa-button {
    padding: 5px;
    margin: 5px;
    outline: 0;
}

.theysa-button:hover {
    color: var(--special-text-color);
    background-color: var(--special-bg-color);
    border: 1px solid var(--special-bg-color);
}

.theysa-button:focus {
    font-weight: bold;
    border: 1px solid var(--special-bg-color);
    outline: 1px solid var(--outline-color);
}

input:focus, input:hover {
    background-color: var(--mark-color);
}


/* === SPECIAL === */
.special {
    color: var(--special-text-color);
    border-color: var(--special-bg-color);
    background-color: var(--special-bg-color);
}