@import "./colours.css";

// Custom Bootstrap variables

/* Custom SASS variables*/

// Alert
$alert-padding-y: 0.75rem;
$alert-padding-x: 1.25rem;

// Cards
$card-bg: var(--subtle-color);
$card-border-color: var(--border-color);

// Dropdowns
$dropdown-bg: var(--subtle-color);
$dropdown-border-color: var(--border-color);

// Forms
$form-check-input-bg: var(--subtle-color);
$form-text-color: var(--text-color);
$form-select-bg: var(--subtle-color);

//Inputs
$input-bg: var(--subtle-color);
$input-border-color: var(--border-color);
$input-color: var(--text-color);
$input-disabled-bg: var(--mark-color);
$input-disabled-color: var(--text-color);
$input-focus-color: var(--text-color);
$input-placeholder-color: var(--text-color);
$input-plaintext-color: var(--text-color);

// Modals
$modal-border-color: var(--border-color);
$modal-content-bg: var(--subtle-color);
$modal-footer-border-color: var(--border-color);

@import '../../node_modules/bootstrap/scss/bootstrap';  // Overwrites the default variables

// Custom CSS


// Buttons
.b-icon {
    color: var(--text-color);
}

.btn {
    --#{$prefix}btn-disabled-border-color: var(--subtle-color);

    &:hover,
    &:hover {
        background-color: var(--shadow-color);
    }
}

.btn-secondary {
    color: var(--text-color);
    background-color: inherit;
    border-color: var(--border-color);
}

.btn-secondary:hover {
    background-color: var(--special-color);
}


.close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: .75rem 1.25rem;
    color: inherit;
    background-color: inherit;
    border: 0;
}

.custom-select {
    background-color: var(--subtle-color);
    border: 1px solid var(--border-color);
    border-radius: .5rem;
    color: var(--text-color);
    font-size: 1.25rem;
    margin: 5px;
    padding: .5rem;
    width: 100%;
}

.dropdown-item {
    color: var(--text-color);
    
    &:hover,
    &:focus {
      color: var(--text-color);
      @include gradient-bg(var(--shadow-color));
    }
    
    &.disabled,
    &:disabled {
        color: var(--text-soft-color);
    }
}

.form-control.focus {
    background-color: var(--subtle-color);
}

label {
    align-self: center;
    padding-left: 10px;
}


// custom text used in the datepicker 
.text-dark {
    color: var(--text-color) !important
}

.text-muted {
    color: var(--text-soft-color) !important
}

// End of Custom Bootstrap variables

html {
    color: var(--text-color);
}

body {
    max-width: 100%;
    margin: auto;
    background-color: var(--subtle-color);
    font-size: 20px;
}

* {
    box-shadow: none;
    transition: ease-in-out 250ms;
}

/* === ANIMATIONS === */

.grows:hover {
    /* === GROW ON HOVER === */
    transform: scale(1.1);
}

.grows .grows:hover {
    /* === GROW ON HOVER === */
    transform: scale(1.05);
}

/* === THEYSA- CLASSES === */

.theysa-box {
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.theysa-button {
    font-weight: bold;
    display: flex;
    color: var(--text-soft-color);
    border-color: var(--border-color);
    background-color: var(--mark-color);
}

.theysa-border {
    border-color: var(--border-color);
    max-width: 300px;
    height: 100%;
}

.theysa-footer {
    margin-top: 10px;
}

.theysa-navbar {
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    place-content: center;
}

.theysa-navbar, a {
    color: var(--text-color);
    text-decoration: none;
    margin: 5px;
    text-align: center;
}

.theysa-set-cur-dom {
    color: var(--special-bg-color);
}

.theysa-button .theysa-set-cur-dom {
    color: var(--special-text-color);
    background-color: var(--special-bg-color);
    border: 1px solid var(--special-bg-color);
}

.theysa-set-cur-dom .grows:hover {
    /* === GROW ON HOVER === */
    transform: scale(1);
}

.theysa-shadow {
    --shadow-placement: 6px 6px 0 0;
    box-shadow: var(--shadow-placement) rgba(var(--shadow-color-rgb), 0.5);
}

.theysa-shadow .theysa-shadow {
    --shadow-placement: 3px 3px 0 0;
}

.theysa-card {
    border-color: var(--border-color);
    width: 30px;
    height: 30px;
}

.theysa-quote-card {
    justify-content: flex-end;
    width: 50%;
    margin:15px; 
    border-color: var(--border-color);
}

.theysa-card-actions {
    margin: 1px;
}

.theysa-card-body {
    justify-content: center;

}

.theysa-card-footer {
    font-size: small;
}

/* === TEXT FORMATTING === */
.text-center {
    text-align: center;
}

/* === VARIOUS === */

p, label {
    color: var(--text-color);
}

.inputButton, .theysa-button {
    text-align: center;
    align-content: center;
    color: var(--text-soft-color);
}

.inputButton {
    width: 20ch;
}

h1, h2, h3, h5, h6 {
    text-align: center;
    font-weight: bold;
    color: var(--special-text-color);
    background-color: var(--special-bg-color);
}

h1, h2, h3, h5, h6 {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border-width: 0;
    border-style: solid;
    border-radius: 5px;
}

input, .theysa-box, .theysa-button {
    background-color: var(--bg-color);
    border-color: var(--border-color);
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

input, .theysa-button {
    padding: 5px;
    margin: 5px;
    outline: 0;
}

.theysa-button:hover {
    color: var(--special-text-color);
    background-color: var(--special-bg-color);
    border: 1px solid var(--special-bg-color);
}

.theysa-button:focus {
    font-weight: bold;
    border: 1px solid var(--special-bg-color);
    outline: 1px solid var(--outline-color);
}

input:focus, input:hover {
    background-color: var(--mark-color);
}


/* === SPECIAL === */
.special {
    color: var(--special-text-color);
    border-color: var(--special-bg-color);
    background-color: var(--special-bg-color);
}
