:root {
	--bg-color: rgba(255,255,255, 1);
	--text-color: rgba(38,49,59, 1);
	--text-soft-color: rgba(68,75,82, 1);
	--text-strong-color: rgba(74,74,74, 1);
	--subtle-color: rgba(247,250,253, 1);
	--border-color: rgba(219,232,245, 1);
	--shadow-color: rgba(167,194,219, 1);
	--input-color: rgba(255,255,255, 1);
	--outline-color: rgba(230,178,188, 1);
	--mark-color: rgba(226,65,116, 0.08);
	--special-color: rgba(226,65,116, 1);
	--special-bg-color: rgba(232,69,119, 1);
	--special-text-color: rgba(255,255,255, 1);
	--special-shadow-color: rgba(116,79,87, 1);
	--special-mark-color: rgba(255,255,255, 0.08);
	--light-color: rgba(252,241,243, 1);
	--dark-color: rgba(93,62,69, 1);
	--text-color-rgb: 38,49,59;
	--bg-color-rgb: 255,255,255;
	--subtle-color-rgb: 247,250,253;
	--special-color-rgb: 226,65,116;
	--special-text-color-rgb: 255,255,255;
	--special-bg-color-rgb: 232,69,119;
	--shadow-color-rgb: 167,194,219;
	--special-shadow-color-rgb: 116,79,87;
	--outline-color-rgb: 230,178,188;
	--dark-color-rgb: 93,62,69;
	--light-color-rgb: 252,241,243;
  }
  
  @media (prefers-color-scheme: dark) {
	:root {
	  --bg-color: rgba(32,32,32, 1);
	  --text-color: rgba(219,224,229, 1);
	  --text-soft-color: rgba(183,188,194, 1);
	  --text-strong-color: rgba(187,187,187, 1);
	  --subtle-color: rgba(32,37,42, 1);
	  --border-color: rgba(36,50,61, 1);
	  --shadow-color: rgba(0,0,0, 1);
	  --input-color: rgba(28,28,28, 1);
	  --outline-color: rgba(220,134,153, 1);
	  --mark-color: rgba(215,103,131, 0.08);
	  --special-color: rgba(215,103,131, 1);
	  --special-bg-color: rgba(163,66,92, 1);
	  --special-text-color: rgba(228,221,223, 1);
	  --special-shadow-color: rgba(42,26,29, 1);
	  --special-mark-color: rgba(228,221,223, 0.08);
	  --light-color: rgba(237,203,210, 1);
	  --dark-color: rgba(69,47,51, 1);
	  --text-color-rgb: 219,224,229;
	  --bg-color-rgb: 32,32,32;
	  --subtle-color-rgb: 32,37,42;
	  --special-color-rgb: 215,103,131;
	  --special-text-color-rgb: 228,221,223;
	  --special-bg-color-rgb: 163,66,92;
	  --shadow-color-rgb: 0,0,0;
	  --special-shadow-color-rgb: 42,26,29;
	  --outline-color-rgb: 220,134,153;
	  --dark-color-rgb: 69,47,51;
	  --light-color-rgb: 237,203,210;
	}
  }
  
  @media (prefers-color-scheme: light) and (prefers-contrast: more) {
	:root {
	  --bg-color: rgba(255,255,255, 1);
	  --text-color: rgba(25,33,40, 1);
	  --text-soft-color: rgba(29,33,36, 1);
	  --text-strong-color: rgba(74,74,74, 1);
	  --subtle-color: rgba(247,250,253, 1);
	  --border-color: rgba(163,184,203, 1);
	  --shadow-color: rgba(134,159,181, 1);
	  --input-color: rgba(255,255,255, 1);
	  --outline-color: rgba(225,156,170, 1);
	  --mark-color: rgba(175,49,88, 0.16);
	  --special-color: rgba(175,49,88, 1);
	  --special-bg-color: rgba(181,50,91, 1);
	  --special-text-color: rgba(255,255,255, 1);
	  --special-shadow-color: rgba(45,29,32, 1);
	  --special-mark-color: rgba(255,255,255, 0.16);
	  --light-color: rgba(252,241,243, 1);
	  --dark-color: rgba(93,62,69, 1);
	  --text-color-rgb: 25,33,40;
	  --bg-color-rgb: 255,255,255;
	  --subtle-color-rgb: 247,250,253;
	  --special-color-rgb: 175,49,88;
	  --special-text-color-rgb: 255,255,255;
	  --special-bg-color-rgb: 181,50,91;
	  --shadow-color-rgb: 134,159,181;
	  --special-shadow-color-rgb: 45,29,32;
	  --outline-color-rgb: 225,156,170;
	  --dark-color-rgb: 93,62,69;
	  --light-color-rgb: 252,241,243;
	}
  }
  
  @media (prefers-color-scheme: dark) and (prefers-contrast: more) {
	:root {
	  --bg-color: rgba(32,32,32, 1);
	  --text-color: rgba(237,239,242, 1);
	  --text-soft-color: rgba(238,239,241, 1);
	  --text-strong-color: rgba(187,187,187, 1);
	  --subtle-color: rgba(32,37,42, 1);
	  --border-color: rgba(72,82,91, 1);
	  --shadow-color: rgba(0,0,0, 1);
	  --input-color: rgba(28,28,28, 1);
	  --outline-color: rgba(219,129,149, 1);
	  --mark-color: rgba(225,156,170, 0.16);
	  --special-color: rgba(225,156,170, 1);
	  --special-bg-color: rgba(133,52,74, 1);
	  --special-text-color: rgba(241,238,239, 1);
	  --special-shadow-color: rgba(0,0,0, 1);
	  --special-mark-color: rgba(241,238,239, 0.16);
	  --light-color: rgba(244,223,227, 1);
	  --dark-color: rgba(69,47,51, 1);
	  --text-color-rgb: 237,239,242;
	  --bg-color-rgb: 32,32,32;
	  --subtle-color-rgb: 32,37,42;
	  --special-color-rgb: 225,156,170;
	  --special-text-color-rgb: 241,238,239;
	  --special-bg-color-rgb: 133,52,74;
	  --shadow-color-rgb: 0,0,0;
	  --special-shadow-color-rgb: 0,0,0;
	  --outline-color-rgb: 219,129,149;
	  --dark-color-rgb: 69,47,51;
	  --light-color-rgb: 244,223,227;
	}
  }