{% extends "base.html" %}
{% block content %}
    <div class="theysa-flex-row">
        <div class="theysa-flex-col theysa-box theysa-shadow grows">
            <h3 class="theysa-shadow">{% if !failed_signin %} Sign in {% else %} FAILED {% endif %}</h3>
            <form method="post" action="/legacy/auth/signin" class="theysa-flex-col">
                <input
                        class="theysa-shadow grows"
                        name="username"
                        placeholder="username"
                        required
                        type="text"
                /><br/>
                <input
                        class="theysa-shadow grows"
                        name="password"
                        placeholder="password"
                        required
                        type="password"
                /><br/>
                <input class="theysa-button theysa-shadow theysa-grows" type="submit" value="SIGN IN"/>
            </form>
        </div>
        <div class="theysa-flex-col theysa-box theysa-shadow grows">
            <h3 class="theysa-shadow">{% if !failed_signup %} Sign up {% else %} FAILED {% endif %}</h3>
            <form method="post" action="/legacy/auth/signup" class="theysa-flex-col">
                <input
                        class="theysa-shadow grows"
                        name="username"
                        placeholder="username"
                        required
                        type="text"
                /><br/>
                <input
                        class="theysa-shadow grows"
                        name="nickname"
                        placeholder="nickname"
                        required
                        type="text"
                /><br/>
                <input
                        class="theysa-shadow grows"
                        name="password"
                        placeholder="password"
                        required
                        type="password"
                /><br/>
                <input
                        class="theysa-shadow grows"
                        name="confirm"
                        placeholder="confirm password"
                        required
                        type="password"
                /><br/>
                {% if require_tokens %}
                <input
                class="theysa-shadow grows"
                name="token"
                placeholder="signup token"
                required
                type="password"
                /><br/>
                {% endif %}
                <input class="theysa-button theysa-shadow grows" type="submit" value="SIGN UP"/>
            </form>
        </div>
    </div>
{% endblock %}